* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: grey;
}

/* Header styles */
header {
    background-color: black;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px 25px;
}

header h1 {
    font: bold;
    font-size: 37px;
    margin-bottom: 5px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}
/* header styles done */

/* call-to-action styles */
.call-to-action {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 90px 10px;
}

.call-to-action article {
    margin: auto 0;
}

.call-to-action h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 2; 
}

.call-to-action p {
    font-size: 30px;
}

.social-media {
    background-color: whitesmoke;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social-media h3 {
    font-size: 22px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.social-media a img {
    height: 60px;
}
/* call-to-action styles done */

.head {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 15px;
}

/* about-me styles */
.intro {
    padding: 30px 15%;
    text-align: justify;
    margin: 25px;
}

.intro article {
    padding: 10px;
    border: 2px solid black;
}

.intro h3 {
    line-height: 2;
    font-size: 27px;
}

#puller {
    line-height: 2;
    font-style: italic;
    font-weight: bold;
}

.intro p {
    font-size: 20px;
}
/* about-me styles end */

/* projects styles */
.work {
    background-color: white;
    margin: 20px 30px;
    border: 1px solid whitesmoke;
    padding: 15px 0;
}

.first {
    background-image: url("../images/run-buddy.png");
    background-size: 110%;
    margin: 35px 25%;
    opacity: 0.75;
}

.temp {
    background-image: url("../images/filler.png");
    opacity: 0.75;
    margin: 15px 8%;
    padding-right: 100px;
}

.ace {
    background-image: url("../images/ace-fp.png");
    background-size: 140%;
    background-position: center;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-design {
    border: 3px solid black;
}

.box-design article {
    margin: 100px 100px 100px 10px;
    color: white;
    background-color: black;
    width: 150px;
    font-size: 14px;
}

.box-design a {
    text-decoration: none;
} 

.first:hover, .temp:hover {
    opacity: 1;
}
/* projects styles done */


@media screen and (max-width: 980px) {
    .call-to-action {
        text-align: center;
    }
    .social-media {
        margin-top: 10%;
    }

    .intro h3 {
        font-size: 20px;
        text-align: center;
    }

    .intro p {
        font-size: 17px;
        text-align: center;
    }

    .first {
        margin: 15px 15%;
    }

    .temp {
        margin: 15px 5%;
    }
}

@media screen and (max-width: 768px) {
    .call-to-action {
        padding: 50px 10px;
    }

    .call-to-action h2 {
        font-size: 30px;
    }

    .call-to-action p {
        font-size: 25px;
    }

    .head {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {
    .call-to-action h2 {
        font-size: 25px;
    }

    .call-to-action p {
        font-size: 20px;
    }

    .intro {
        padding: 30px 25px;
    }

    .intro h3 {
        line-height: 1;
    }

    #puller {
        line-height: 1;
    }

    .first {
        margin: 15px 5%;
    }
}